
div.main-content {
    float:left;
    width:620px;
}

nav ul, nav li {
	list-style-type:none;
	display:inline;
}

aside {
    float:right;
    #width:220px;
}
footer {
    clear:both;
    text-align: center;
    font-size: 80%;
}
