
a:link { color: #0000ff; }
a:visited { color: #0000ff; }

.site-title {
    text-shadow: -1px 1px 0 rgba(0,0,0,0.1);
}
.site-title a {
    text-decoration: none;
    color: #000000;
}
.site-title a:hover {
    text-decoration: underline;
}

.container {
    padding: 1em;
}

.main-content {
    float:left;
    width:620px;
}

.post-list-datetime {
    font-size: 80%;
}


body{
    margin: 0;
    padding: 0;
}

header {
    padding: 1em;
    background: #ccc;
}

.head-nav {
    padding: 1em;
    background: #ddd;
}

nav ul {
    list-style-type: none;
    display: inline;
    padding: 0
}

nav li {
    list-style-type:none;
    display:inline;
    margin-right:6px;
}

nav li+li {
    padding-left: 10px;
    border-left: 1px solid #666
}

footer {
    text-align: center;
    font-size: 80%;
}

/* layout */
.container{
    display: flex;
}

.main-content{
    flex: 1;
}

aside {
    width:220px;
}
