
a:link { color: #0000ff; }
a:visited { color: #0000ff; }

.site-title {
    text-shadow: -1px 1px 0 rgba(0,0,0,0.1);
}
.site-title a {
        text-decoration: none;
        color: #000000;
}
.site-title a:hover {
        text-decoration: underline;
}

.main-content {
    float:left;
    width:620px;
}

.post-list-datetime {
	font-size: 80%;
}

nav ul, nav li {
    list-style-type:none;
    display:inline;
}

/* layout */
.container{
    display: flex;
}

.main-content{
    flex: 1;
}

aside {
    width:220px;
}

footer {
    text-align: center;
    font-size: 80%;
}
